@charset "utf-8";
	
@media print {
	
	@page {
		size: 8.5in 11in;
		margin: 0.5in;
	}
	
	* {
		background: none;
	}
	
	nav, img, audio, #button, section#animals, section#video, #split-section, #services-and-pricing h3, #services-and-pricing ol, form {
		display: none;
	}
	
	header {
		height: 70px;
	}
	
	header h1 {
		font-size: 40px;
	}
	
	header h2 {
		font-size: 30px;
	}
	
	section#us h2 {
		font-size: 30px;
	}
	
	#welcome {
		padding-top: 10px;
	}
	
	#faq {
		font-size: 12px;
		line-height: 24px;
	}
	
	p {
		widows: 3;
		orphans: 3;
		font-size: 12px;
		line-height: 24px;
	}

}